body{
    background-image: url(netflix.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    background: beige;
    text-align: center;
    padding: 20px 25px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}